when parsing the header of this mime crashed!

```
------=_Part_1448452_458257080.1707905695133
Content-Type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
	name*=UTF-8''%E8.xlsx
Content-Transfer-Encoding: base64
Content-Disposition: attachment;
	filename*=UTF-8''%E8.xlsx
```
crashed function:
void mime::parse_header_value_attributes(const string& header, string& header_value, attributes_t& attributes) const

crashed information:
when parsing the line
```
Content-Type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
	name*=UTF-8''%E8.xlsx
```
it crashed i debug so long time but could not figure out the way to fix it.

So, this is the feature from RFC 2231 section 4 which is not implemented. Since there is already implementation for the parameter value continuations of the section 3, let me see whether I can easily add this one.
Thanks for reporting, hopefully I will have something to show in the following days.

Thanks for a lot.I just wondered why  do you need to use a state machine to implement this。
Is it better to figure out with the regex for parse the mail message?
Im not good at this,I just say so.
And could I part into your team?
By the way ,you made a good mail lib.


Working on a separate [branch](https://github.com/karastojko/mailio/tree/attribute_continuations) to test possible approaches, there is more work to do.
There is no formal team, only contributors. You can create a PR for defects or features if you want to participate.

I know you re  very busy .But I just want to know when to fix the issues.Could I do something for that?

Can you please try the latest changes from the [branch](https://github.com/karastojko/mailio/tree/attribute_continuations) whether they work for you?

The [branch](https://github.com/karastojko/mailio/tree/attribute_continuations) is merged to the main.

I've tested the branch u just mentioned.Eventhough there'is no errors,it dosnt work well.I guess the parsing part of the 
`Content-Type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
	name*=UTF-8''%E8.xlsx`
something is still not right.It is hard for me to debug it.

My mistake.It dose not contain the break line in the fact.
It failed when parsing the datetime.
what I added the code is just telling u the date formats I've met.
`
Date: Mon, 5 Feb 2024 21:45:21 +0000 (GMT)
Date: Wed, 07 Feb 2024 07:19:36 GMT
Date: Wed, 07 Feb 2024 07:19:07 +0000
`

And besides I parse the content it failed but with no debug information.It is hard for me to figure out the error codes.I pulled the mime data now.Here the error mime data.It is my pleasure if u fixed the problem.
[1.txt](https://github.com/karastojko/mailio/files/14616754/1.txt)







The second date example is invalid, how did you get it? The test.txt example has it correct.

Regarding the mime parser, do you suggest that POP3 should not parse line by line but at once?

First I think it is better that u should  receive the whole mime data from the server.then parsing the data of the user  what they needed.Meaning added a function named source_data something else that could get the whole data without parsing.

Second the way parsed line by line always  stopped by the unstandard  mime format.So I just  have an unprofessional idea  if it's better to parse the data with using the regex,not with using the state machine  strategy.

By the way the test.txt  parsing failed with the headline.I will post the detail information a moment later.

Let me try it.
